# Dependency directories
.vscode/
node_modules/
# examples/
examples/data/*
examples/s228_checkpoint_3dtiles/*
libs/*/*
docs/
package-lock.json
pnpm-lock.yaml
yarn.lock
jspm_packages/
deps/
readme/
build/