# Dependency directories
.vscode/
node_modules/
# examples/
examples/data/*
examples/heightdata/*
examples/heightpng/*
examples/heightpng_bak/*.png
docs/
package-lock.json
pnpm-lock.yaml
yarn.lock
jspm_packages/
deps/
readme/
build/